<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
	<title>BBC News - Near Me</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css">

	<script src="/javascripts/jquery-1.7.2.min.js"></script>

	<link href="http://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet"/>

	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing,geometry"></script>
	<script src="/javascripts/map.js"></script>
</head>

	<body>

		<div id='results'></div>

		<header role="banner">
			<div id="global-header">
				<a href="http://www.bbc.co.uk">
					<img src="/images/bbc_blocks.png" width="84" height="24" alt="British Broadcasting Corporation" />
				</a>
			</div>
			<div id="local-header">
				<h1>
					<a href="http://www.bbc.co.uk/news">News</a>
					<span class="location">England</span>
				</h1>
			</div>
		</header>

		<div id="container">

			<section id="set-location">
				<h2>Local to me</h2>
				<a id="get-location" href="#">Get current location</a>
				<form action="/" method="get">
					<input name="loc" type="text" placeholder="Enter a UK town, county or postcode" />
				</form>
				<a id="draw-location" href="#">Draw Location</a>
			</section>

			<section id="local">
				<div id="map-canvas" class="local-map module"></div>
				<div class="local-weather module">
					<h3>Local Weather</h3>
					<img src="/images/weather-static.png" alt="" />
				</div>
				<div class="local-travel module">
					<h3>Local Travel News</h3>
					<p>No reported incidents</p>
				</div>
			</section>

			<section role="main"></section>

			<section role="complementary">
				<section id="local-radio">
					<h2>BBC Essex</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</section>
				<section id="things-to-do">
					<h2>Things To Do</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</section>
			</section>

		</div>

		<footer>
			<div id="footer-content">
				<p>BBC &copy; 2012</p>
			</div>
		</footer>

		<script>
			$(document).ready(function() {
				$('#draw-location').on('click', function(e) {

					e.preventDefault();
					$('#local').animate({opacity: 'toggle', height: 'toggle'},function(){
						if(mapLoaded == false){
							initialize();
							mapLoaded = true;
						}
					});



showArticles(null,function(err,data){

console.log(data);

	$('section[role="main"]').html(data);
})
				
/*
var jqxhr = $.ajax( "/articles/coordinates/points/51.73333,0.48333" )
    .done(function() { console.log("e.toString()") })
    .fail(function() {console.log("e.toString()"); })
    .always(function() {console.log("e.toString()") });
*/


					//$('section[role="main"]').html("<div>THIS IS ATEST</div>");

					//load('/articles/coordinates/points/51.73333,0.48333');


				});
			});
		</script>
	</body>
</html> 
