<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
	<title>BBC News - Near Me</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/weather.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/colorPicker.css"/>

	<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>

    <script language="javascript" type="text/javascript" src="/javascripts/jquery.colorPicker.min.js"/></script>


	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/weather.css"> -->



	<link href="http://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet"/>

	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing,geometry"></script>
	<script type="text/javascript" src="/javascripts/label.js"></script>	
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/location.js"></script>
	<script src="/javascripts/map.js"></script>

</head>

	<body>

		<div id='results'></div>

		<header role="banner">
			<div id="global-header">
				<a href="http://www.bbc.co.uk">
					<img src="/images/bbc_blocks.png" width="84" height="24" alt="British Broadcasting Corporation" />
				</a>
			</div>
			<div id="local-header">
				<h1>
					<a href="http://www.bbc.co.uk/news">News</a>
					<span class="location"></span>
				</h1>
			</div>
		</header>

		<div id="container">

			<section id="set-location">
				<h2>Local to me</h2>
				<a id="get-location" href="#">Get current location</a>
				<form action="/" method="get" id="find-location">
					<input name="loc" class="location-search" type="text" placeholder="Enter a UK town, county or postcode" />
				</form>
				<a id="draw-location" href="#">Draw area</a>
			</section>

			<section id="local">
				<a id="favourite-locations" href="#">Favourite Locations (0)<span></span></a>
				<div id="location-list">
					<ul>
						<li><a href="#">Location 1</a></li>
						<li><a href="#">Location 2</a></li>
						<li><a href="#">Location 3</a></li>
						<li><a href="#">Location 4</a></li>
					</ul>
				</div>

				<div id="local-map"></div>
				<div id="local-weather"></div>
				
				<div id="local-travel">
					<h3>Latest Travel News</h3>
					<p>No reported incidents</p>
				</div>
			</section>

			<section role="main">
				<div id="story-list">
					<p>No local area selected.</p>
				</div>
				<section role="complementary"></section>
			</section>

			<section role="complementary" id="local-people"></section>

			<section role="complementary" id="local-companies>"></section>

		</div>

		<footer>
			<div id="footer-content">
				<p>BBC &copy; 2012</p>
			</div>
		</footer>
`
		<script>

			function showLocalPanel() {
				$('#local').animate({opacity: 'toggle', height: 'toggle'},function(){
					if(mapLoaded == false) {
						initialiseMap('local-map');
						mapLoaded = true;
					}
					
					$('#favourite-locations').on('click', function(e) {
						e.preventDefault();
						$(this).toggleClass('open');
						$('#location-list').animate({opacity: 'toggle', height: 'toggle'});
					});


					$('#location-list').on('click', 'a', function(e) {
						e.preventDefault();

						var path = locations[$(this).data('index')].getPolygon().getPath(),

							centroid = getCentroid(path);
						
						showArticles(path,function(err,data) {
							if(data !== null) {
								$('section[role="main"]').html(data);
							} else if(err !== null) {
								console.log("Error:" + err);
							}
						});

						$('#local').addClass('area-selected');
						map.setZoom(6);
						map.setCenter(new google.maps.LatLng(centroid.y, centroid.x));

						getWeatherForCoordinates(centroid.y, centroid.x, function(data) {
							if(data) {
								$('#local-weather').html(data);
							} else {
								console.log("ERROR loading weather data:" + err.toString());
							}
						});

						getPeopleForCoordinates(centroid.y, centroid.x, function(data) {
							if(data) {
								$('#local-people').html(data);
							} else {
								console.log("ERROR loading local people data:" + err.toString());
							}
						});

						getCompaniesForCoordinates(centroid.y, centroid.x, function(data) {
							if(data) {
								$('#local-companies').html(data);
							} else {
								console.log("ERROR loading local company data:" + err.toString());
							}
						});
					});
				});
			}

			$(document).ready(function() {

				$('#draw-location').on('click', function(e) {
					e.preventDefault();
					showLocalPanel();
				});


				$('#find-location').on('submit', function(e) {
					e.preventDefault();

					var locationName = $('.location-search').val();

					findLocation(locationName,function(err,data){
						if(data != null){

							var path = new google.maps.MVCArray(data);

							var polygon = new Location(new Date().getTime(),'',path,null).makePolygon(path)
							polygon.setMap(map);
							var location = makeLocation(polygon,locationName);
							//location.getLabel().set('text', locationName);
						}
					});

					return false;
				});


				// if (localStorage.polygon) {
				// 	showLocalPanel();
				// }

			});
		</script>
	</body>
</html> 
