<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
	<title>BBC News Labs - Near Me</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/weather.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/colorPicker.css"/>

	<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>

    <script language="javascript" type="text/javascript" src="/javascripts/jquery.colorPicker.min.js"></script>


	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/weather.css"> -->

<!-- this is a comment -->

	<link href="http://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet"/>

	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing,geometry"></script>
	<script type="text/javascript" src="/javascripts/label.js"></script>	
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/location.js"></script>
	<script src="/javascripts/map.js"></script>

</head>

	<body>

		<div id='results'></div>

		<header role="banner">
			<div id="global-header">
				<a href="http://www.bbc.co.uk">
					<img src="/images/bbc_blocks.png" width="84" height="24" alt="British Broadcasting Corporation" />
				</a>
			</div>
			<div id="local-header">
				<h1>
					<a href="http://www.bbc.co.uk/news">News</a>
					<span class="location"></span>
				</h1>
			</div>
		</header>

		<div id="container">

			<section id="set-location">
				<h2>Local to me</h2>
				<a id="get-location" href="#">Get current location</a>
				<form action="/" method="get" id="find-location">
					<input name="loc" class="location-search" type="text" placeholder="Enter a UK town, county or postcode" />
				</form>
				<a id="draw-location" href="#">Draw area</a>
			</section>

			<section id="favourite-locations">
				<a href="#">Favourite Locations (0)<span></span></a>
				<ul>
					<li>No locations saved.</li>
				</ul>
			</section>

			<section id="location-map">
				<div id="local-map"></div>
			</section>

			<section id="local">
				<div id="local-area"></div>
				<div id="local-weather"></div>
				<div id="local-travel"></div>
			</section>

			<section role="main">
				<div id="story-list"></div>
			</section>

			<section role="complementary" id="local-people"></section>
			<section role="complementary" id="local-companies"></section>

		</div>

		<footer>
			<div id="footer-content">
				<p>BBC &copy; 2012</p>
				<p>This page is produced as part of BBC News Labs Product Exploration. Content may not be real, and must not in any way be interpreted as part of BBC News’ official publications. For further information you can reach us at https://twitter.com/BBC_News_Labs or @BBC_News_Labs
				</p>
			</div>
		</footer>

		<script>

			$(document).ready(function() {
				/* load location map - hide container when loaded */
				initialiseMap('local-map');
				google.maps.event.addListener(map, 'idle', function() {
					if (!mapLoaded) {
						$('#location-map').css('display', 'none').css('visibility', 'visible');
						mapLoaded = true;
					}
				});

				/* toggle location map */
				$('#draw-location').on('click', function(e) {
					e.preventDefault();
					$('#location-map').animate({opacity: 'toggle', height: 'toggle'});
				});

				/* toggle favourite location list */
				$('#favourite-locations > a').on('click', function(e) {
					e.preventDefault();
					$('#favourite-locations > a').toggleClass('open');
					$('#favourite-locations ul').animate({opacity: 'toggle', height: 'toggle'});
				});

				$('#find-location').on('submit', function(e) {
					e.preventDefault();

					var locationName = $('.location-search').val();

					findLocation(locationName,function(err,data){
						if(data != null){

							var path = new google.maps.MVCArray(data);

							var polygon = new Location(new Date().getTime(),'',path,null).makePolygon(path)
							polygon.setMap(map);
							var location = makeLocation(polygon,locationName);
							//location.getLabel().set('text', locationName);
						}
					});

					return false;
				});

				$('#favourite-locations').on('click', 'ul a', function(e) {
					
					e.preventDefault();

					$('#favourite-locations > a').toggleClass('open');
					
					$('#favourite-locations ul').animate({opacity: 'toggle', height: 'toggle'});

					var location = locations[$(this).data('index')];


						//path = location.getPolygon().getPath(),
						//centroid = getCentroid(path);

					setSelected(location);

					saveLocations();

					/*showArticles(path,function(err,data) {
						if(err !== null) {
							$('section[role="main"]').html(data);
						} else if(err !== null) {
							console.log("Error:" + err);
						}
					});*/
				});
			});
		</script>

	</body>
</html> 
