<h3>
	Local Travel:
</h3>

<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->
<!-- this is a comment -->

<ul>

	<%
	var i, tpegMessage;

	if (items.features.length <= 0) {%>

		<li>
			<p>There are currently no incidents reported for this region</p>
		</li>

	<%} else {
		

	for(i = 0; i < items.features.length && i < 2; i++) {
		tpegMessage = items.features[i].properties.tpegMessage; %>
	
		<li>
			<p><%= tpegMessage.summary.$ %></p>
		</li>

	<% }
	}
	%>

</ul>