body {
	font: 100%/1.2 Helvetica, Arial, sans-serif;
	color: #000;
}

a, a:hover {
	text-decoration: none;
}

p {
	margin-bottom: 1em;
}

#global-header, #local-header, #footer-content {
	max-width: 976px;
	margin: 0 auto;
}

/* Page header */

header {
	background-color: #cd0102;
}

#global-header {
	padding: 0.5em;
	background-color: #520000;
}

#global-header img {
	display: block;
}

#local-header {
	color: #fff;
	font-family: "Gill Sans";
	text-transform: uppercase;
}

#local-header a {
	color: #fff;
	font-size: 4em;
}

#local-header .location {
	font-size: 2em;
	margin-left: 0.5em;
}


/* Page layout */

#container {
	overflow: hidden;
	max-width: 976px;
	margin: 0 auto;
}

section {
	overflow: hidden;
}

[role="main"] {
	float: left;
	width: 65.983606557377%; /* 644 / 976 */
	margin-top: 1em;
	margin-right: 2.0491803278689%; /* 20 / 976 */
}

[role="complementary"] {
	float: right;
	width: 31.9672131147541%; /* 312 / 976 */
	margin-top: 1em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

/* Location search */

#set-location {
	padding: 0.5em;
	background-color: #ce7229;
}

#set-location h2 {
	float: left;
	color: #fff;
	font-size: 2em;
	margin: 0;
}

#set-location input[name="loc"] {
	float: right;
	border: none;
	padding: 4px 40px 4px 8px;
	margin: 0.4em 1em 0 0;
	width: 19em;
	font-size: 1em;
	color: #000;
	background: #fff url(../image/search-icon.png) no-repeat 100% 50%;
}

#get-location {
	float: right;
	padding: 4px 40px 4px 8px;
	margin-top: 0.4em;
	color: #000;
	background: #fbaf41 url(../image/target-icon.png) no-repeat 100% 50%;
}

/* Local Info */

#local {
	display: none;
	color: #fff;
	background-color: #0f5474;
}

#local h3 {
	margin: 0.5em 0;
	font-size: 1.25em;
}

#local div {
	float: left;
	overflow: hidden;
	height: 220px;
	width: 31.9672131147541%; /* 312 / 976 */
	margin-right: 2.0491803278689%; /* 20 / 976 */
}

#local .local-travel {
	margin: 0;
}

/* News stories */

article {
	overflow: hidden;
	margin-bottom: 1em;
}

article img {
	float: left;
	max-width: 100%;
	margin: 0 1em 1em 0;
}

article p {
	overflow: hidden;
}

article h3 {
	color: #1f4f82;
	font-size: 1.25em;
	margin-bottom: 1em;
}

/* Fluid images */

.image {
	width: 22.360248447205%;
}

.lead-item .image {
	width: 47.2049689440994%;
}

/* Sidebar */

[role="complementary"] section {
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: #ededed;
}

[role="complementary"] h2 {
	color: #1f4f82;
}

/* Footer */

footer {
	color: #fff;
	background-color: #666;
}

#footer-content {
	padding: 1em 0;
}

#footer-content p {
	margin: 0;
}

/* Media queries */

@media screen and (max-width: 1024px) {
	/* TODO */
}